﻿@model IEnumerable<Web.Models.HallUI>

@{
    ViewData["Title"] = "SelectHallForMovie";
}

<h1>SelectHallForMovie</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCinema)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCinema)
            </td>
            <td>
                    @Html.ActionLink("AddMovieForCinema", "Session", new {  id=item.Id  }) 
            </td>
        </tr>
}
    </tbody>
</table>
