﻿@model IEnumerable<Web.Models.MovieUI>

@{
    ViewData["Title"] = "GetOnlyMovieWithoutSession";
}

<h1>GetOnlyMovieWithoutSession</h1>

<p>
    <a asp-controller="Movie"  asp-action="AddNewMovie">Add new movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
                @Html.HiddenFor(modelItem => item.Id)
            <td>
                    @Html.ActionLink("Select film to add by cinema", "AddMovieForCinema","Session", new {  id=item.Id })
               
            </td>
        </tr>
}
    </tbody>
</table>
